@use "../../../styles//foundations/mixins.scss";

.videoCard {
  position: relative;
  width: 100%;
  height: 16rem;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: #ffffff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
  }

  .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8rem;
    height: 8rem;
  }
}
