@use "../../styles/foundations/mixins.scss";

.supportInfoSection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .content {
    width: 100%;
    max-width: 84.5rem;
    display: flex;
    padding: 0 1rem;

    &.contentPadding {
      padding: 4rem 1rem;
    }

    .content_container {
      position: relative;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 0.5fr;
      gap: 2rem;
      padding: 4rem;
      border-radius: 1.5rem;

      background: linear-gradient(to left, #e0efe9, #f8fdfb);
      overflow: hidden;

      @include mixins.extraLargeTablet {
        grid-template-columns: 1fr;
        padding: 2rem;
      }

      img {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4rem;
        object-fit: cover;
        z-index: -1;
      }

      .left {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        h2 {
          width: 65%;
          font-family: Bornomala, sans-serif;
          font-size: 2.5rem;
          font-weight: 600;
          color: var(--dark-1000);

          @include mixins.extraLargeTablet {
            width: 100%;
            font-size: 2rem;
          }
        }

        span {
          width: 80%;
          font-family: Bornomala, sans-serif;
          font-size: 1rem;
          color: var(--dark-700);

          @include mixins.extraLargeTablet {
            width: 100%;
          }
        }

        .pb {
          border: none;
          outline: none;

          width: max-content;
          height: 3.5rem;

          display: flex;
          align-items: center;
          gap: 1rem;
          padding: 0 3rem;
          border-radius: 0.5rem;
          text-decoration: none;
          background-color: #1a1f3c;

          cursor: pointer;
          transition: all 0.3s ease-in-out;

          &:hover {
            background-color: #1a1f3c;
            transition: all 0.3s ease-in-out;
          }

          @include mixins.extraLargeTablet {
            height: 2.5rem;
            font-size: 1rem;
          }

          span {
            white-space: nowrap;
            font-family: Bornomala, sans-serif;
            font-size: 1.25rem;
            font-weight: 600;
            color: var(--light-100);
          }

          img {
            height: 1.5rem;
            width: 1.5rem;
            object-fit: cover;
          }
        }
      }

      .right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 1rem;

        @include mixins.extraLargeTablet {
          align-items: center;
          justify-content: flex-end;
        }

        .pb {
          border: none;
          height: 5rem;
          width: 17rem;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 0.5rem;
          background-color: #018f39;
          text-decoration: none;
          cursor: pointer;

          @include mixins.extraLargeTablet {
            height: 4rem;
            width: 100%;
          }

          span {
            font-family: Bornomala, sans-serif;
            font-size: 1.5rem;
            color: var(--light-25);
            text-align: center;
          }
        }
      }
    }
  }
}
