@use "../../styles//foundations/mixins.scss";

.carouselSection {
  background-color: #ffffff;

  .content {
    .carouselCard {
      position: relative;
      height: 25rem;
      padding: 3rem 4rem;
      border-radius: 1.375rem;
      background-color: var(--primary-1000);
      overflow: hidden;
      z-index: 10;

      @include mixins.extraLargeTablet {
        height: 100%;
        padding: 2rem 2rem 4rem 2rem;
      }

      h2 {
        font-family: Bornomala, sans-serif;
        font-size: 2rem;
        font-weight: 600;
        color: var(--light-25);
        text-align: center;

        @include mixins.extraLargeTablet {
          font-size: 1.5rem;
        }
      }

      .vector {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 6.25rem;
        object-fit: cover;
      }
    }
  }
}
