@use "../../styles/foundations/mixins.scss";

.supportPage {
  .support_container {
    .content {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        h1 {
          font-family: Bornomala, sans-serif;
          font-size: 2.5rem;
          font-weight: 600;
          color: var(--dark-1000);

          @include mixins.extraLargeTablet {
            font-size: 2rem;
            text-align: center;
          }
        }

        span {
          width: 80%;
          font-family: Bornomala, sans-serif;
          font-size: 1.5rem;
          text-align: center;
          color: var(--dark-700);

          @include mixins.extraLargeTablet {
            width: 95%;
            font-size: 1rem;
            text-align: center;
          }
        }
      }

      .support_container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .support_content {
          width: 100%;
          max-width: 46.25rem;
          display: flex;
          flex-direction: column;

          .support_header {
            border-radius: 1rem 1rem 0 0;
            padding: 1.5rem 2rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            background-color: #018f39;

            h4 {
              font-family: Bornomala, sans-serif;
              font-size: 1.5rem;
              font-weight: 600;
              color: var(--light-25);
              text-align: center;

              @include mixins.extraLargeTablet {
                font-size: 1rem;
              }
            }

            span {
              font-family: Bornomala, sans-serif;
              font-size: 1rem;
              color: var(--light-25);
              text-align: center;

              @include mixins.extraLargeTablet {
                font-size: 1rem;
              }
            }
          }

          .support_amounts {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(9.75rem, 1fr));
            gap: 1rem;
            padding: 1.25rem;
            background-color: #f8f9fa;

            .amount {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 0.5rem;
              padding: 1.25rem;
              border-radius: 0.5rem;
              border: 1px solid var(--light-100);
              background-color: #ffffff;
              cursor: pointer;

              &:hover {
                background-color: var(--primary-1000);
                transition: all 0.3s ease-in-out;

                span {
                  color: var(--light-25);
                  transition: all 0.3s ease-in-out;
                }
              }

              img {
                height: 1.2rem;
                width: 1.2rem;
                object-fit: contain;
              }

              span {
                font-family: Bornomala, sans-serif;
                font-size: 1.5rem;
                font-weight: 600;
                color: var(--dark-1000);
              }
            }
          }
        }
      }
    }
  }
}
