/*=============================================
=            Responisve                       =
=============================================*/

@mixin portraitTablet {
  @media screen and (max-width: 641px) {
    @content;
  }
}

@mixin extraLargeTablet {
  @media screen and (max-width: 991px) {
    @content;
  }
}
@mixin smallDesktop {
  @media screen and (max-width: 1024px) {
    @content;
  }
}
@mixin semiLargeDesktop {
  @media screen and (max-width: 1150px) {
    @content;
  }
}
