@use "../../styles/foundations/mixins.scss";

.aboutPage {
  .about_container {
    .content {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        span {
          font-family: Bornomala, sans-serif;
          font-size: 1.5rem;
          font-weight: 600;
          color: var(--primary-1000);

          @include mixins.extraLargeTablet {
            font-size: 1rem;
          }
        }

        h2 {
          width: 50%;
          font-family: Bornomala, sans-serif;
          font-size: 2.5rem;
          font-weight: 600;
          color: var(--dark-1000);
          text-align: center;

          @include mixins.extraLargeTablet {
            width: 70%;
            font-size: 2rem;
          }

          @include mixins.portraitTablet {
            width: 95%;
            font-size: 2rem;
          }
        }

        p {
          width: 80%;
          font-family: Bornomala, sans-serif;
          font-size: 1.5rem;
          color: var(--dark-700);
          text-align: center;

          @include mixins.extraLargeTablet {
            width: 95%;
            font-size: 1rem;
            text-align: center;
          }

          @include mixins.portraitTablet {
            width: 100%;
          }
        }
      }
    }

    .content_container {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 0.5fr;
      gap: 3rem;
      margin-top: 2rem;

      @include mixins.extraLargeTablet {
        direction: ltr;
        grid-template-columns: 1fr;
        gap: 2rem;
      }

      .left_content {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        span {
          font-family: Bornomala, sans-serif;
          font-size: 1.5rem;
          color: var(--dark-700);

          @include mixins.extraLargeTablet {
            font-size: 1rem;
          }
        }
      }

      .right_content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        @include mixins.extraLargeTablet {
          order: -1;
          gap: 1.5rem;
        }

        img {
          height: 25rem;
          object-fit: cover;
        }

        .info {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;

          h2 {
            font-family: Bornomala, sans-serif;
            font-size: 2.5rem;
            font-weight: 600;
            color: var(--dark-1000);
          }

          span {
            font-family: Bornomala, sans-serif;
            font-size: 1.25rem;
            color: var(--dark-700);
          }
        }

        .info_section {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          h3 {
            font-family: Bornomala, sans-serif;
            font-size: 2rem;
            font-weight: 600;
            color: var(--dark-500);
            padding-bottom: 0.5rem;
          }

          span {
            font-family: Bornomala, sans-serif;
            font-size: 1.5rem;
            font-weight: 600;
            color: var(--dark-1000);
          }

          p {
            font-family: Bornomala, sans-serif;
            font-size: 1.25rem;
            color: var(--dark-700);
          }
        }
      }
    }
  }
}
