@use "../../styles/foundations/mixins.scss";

.aboutPage {
  .about_container {
    .content {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        span {
          font-family: Bornomala, sans-serif;
          font-size: 1.5rem;
          font-weight: 600;
          color: var(--primary-1000);

          @include mixins.extraLargeTablet {
            font-size: 1rem;
          }
        }

        h2 {
          width: 50%;
          font-family: Bornomala, sans-serif;
          font-size: 2.5rem;
          font-weight: 600;
          color: var(--dark-1000);
          text-align: center;

          @include mixins.extraLargeTablet {
            width: 70%;
            font-size: 2rem;
          }

          @include mixins.portraitTablet {
            width: 95%;
            font-size: 2rem;
          }
        }

        p {
          width: 80%;
          font-family: Bornomala, sans-serif;
          font-size: 1.5rem;
          color: var(--dark-700);
          text-align: center;

          @include mixins.extraLargeTablet {
            width: 95%;
            font-size: 1rem;
            text-align: center;
          }

          @include mixins.portraitTablet {
            width: 100%;
          }
        }
      }
    }
  }
}
