@use "../../styles/foundations/mixins.scss";

.errorPage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  h2 {
    font-family: Bornomala, sans-serif;
    font-size: 4rem;
    font-weight: 600;
    color: var(--dark-1000);

    @include mixins.extraLargeTablet {
      font-size: 3rem;
    }
  }

  span {
    font-family: Bornomala, sans-serif;
    font-size: 1.5rem;
    color: var(--dark-700);
  }

  .link {
    border: none;
    outline: none;
    padding: 0.3rem 1rem;

    border-radius: 0.5rem;
    color: var(--light-25);
    font-size: 1rem;
    text-decoration: none;
    background-color: var(--primary-1000);
    cursor: pointer;

    @include mixins.extraLargeTablet {
      height: 2.5rem;
      font-size: 1rem;
    }
  }
}
