@use "../../styles/foundations/mixins.scss";

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .footer_top {
    width: 100%;
    max-width: 84.5rem;
    padding: 4rem 1rem 2rem 1rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;

    @include mixins.extraLargeTablet {
      grid-template-columns: 1fr;
      gap: 2rem;
    }

    .footerIntro {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      h1 {
        font-family: Bornomala, sans-serif;
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--dark-1000);

        @include mixins.extraLargeTablet {
          font-size: 1rem;
        }
      }

      span {
        font-family: Bornomala, sans-serif;
        font-size: 1rem;
        color: var(--dark-700);
      }
    }

    .footer_navigations {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
      gap: 1rem;

      .footer_navigation {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        h3 {
          font-family: Bornomala, sans-serif;
          font-size: 1.25rem;
          font-weight: 600;
          color: var(--dark-1000);

          @include mixins.extraLargeTablet {
            font-size: 1rem;
          }
        }

        .links {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;

          .link {
            font-family: Bornomala, sans-serif;
            font-size: 1rem;
            color: var(--dark-700);
            text-decoration: none;

            &:hover {
              color: var(--primary-1000);
              transition: all 0.3s ease-in-out;
            }

            @include mixins.extraLargeTablet {
              font-size: 0.875rem;
            }
          }
        }
      }
    }
  }

  .footer_bottom {
    position: relative;
    height: 7rem;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
      position: absolute;
      bottom: 0;
      right: 0;

      height: 100%;
      width: 100%;
      object-fit: cover;
      z-index: -1;
    }

    .content {
      width: 100%;
      max-width: 84.5rem;
      display: flex;

      padding: 0 1rem;
      margin-top: 2rem;
    }
  }
}
