@use "../foundations/mixins.scss";

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 0;
  background-color: #ffffff;

  @include mixins.extraLargeTablet {
    padding: 3rem 0;
  }

  .wrapper_layout {
    width: 100%;
    max-width: 84.5rem;
    padding: 0 1rem;
  }
}
