@use "../../styles//foundations/mixins.scss";

.videoGallerySection {
  background-color: #ffffff;

  .content {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .headerBtn {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;

      @include mixins.extraLargeTablet {
        grid-template-columns: 1fr;
      }

      .header {
        width: 100%;
        display: flex;
        flex-direction: column;

        @include mixins.extraLargeTablet {
          align-items: center;
        }

        h2 {
          font-family: Bornomala, sans-serif;
          font-size: 2.5rem;
          font-weight: 600;
          color: var(--dark-1000);

          @include mixins.extraLargeTablet {
            font-size: 2rem;
            text-align: center;
          }
        }

        span {
          width: 80%;
          font-family: Bornomala, sans-serif;
          font-size: 1rem;
          color: var(--dark-700);

          @include mixins.extraLargeTablet {
            text-align: center;
          }
        }
      }

      .carouselBtns {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        gap: 1rem;

        @include mixins.extraLargeTablet {
          display: none;
        }

        button {
          border: none;
          height: 3rem;
          width: 3rem;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          background-color: transparent;
          border: 1px solid var(--secondary-1000);
          transition: all 0.3s ease-in-out;
          cursor: pointer;

          &:hover {
            background-color: var(--secondary-800);
            transition: all 0.3s ease-in-out;

            img {
              filter: brightness(0) invert(1);
            }
          }

          img {
            height: 1.5rem;
            width: 1.5rem;
            object-fit: contain;
          }
        }
      }
    }

    .videoGallery_carousel {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(20.5rem, 1fr));
      gap: 1.5rem;
    }

    .button_container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      .button {
        border: none;
        width: max-content;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 2rem;
        border-radius: 0.5rem;
        background-color: var(--primary-1000);
        text-decoration: none;
        cursor: pointer;

        span {
          font-family: Bornomala, sans-serif;
          font-size: 1.5rem;
          color: var(--light-100);
          text-align: center;
        }
      }
    }
  }
}
